{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/static/css/loginScreen.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/js/jquery.js" />
    <link rel="stylesheet" href="/static/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/static/js/popper.js" />
    <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
    <title>Sailor Login</title>
  </head>
  <body>
    <section class="parent_section">
      <div class="image_parent">
        <div class="row">
          <div class="col-12 col-lg-8 col-md-8">
            <img class="image_" src="/static/image/login_image.png" />
          </div>
          <div class="col-12 col-lg-4 col-md-4">
            <div
              class="logo_div"
              style="
                background: transparent url('/static/image/voila_logo.png') 0%
                  0% no-repeat padding-box;
                top: 306px;
                left: 1308px;
                width: 259px;
                height: 159px;
                opacity: 1;
                margin-top: 60px;
                margin-left: 15px;
              "
            ></div>
            <form class="parent_form" action="remove">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button  class="btn" data-target="#exampleModalCenter">Login</button>
              </form>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
