<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Otp Verification</title>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body  class="centered-wrapper">

<center>
    <div class="centered-content container d-flex  justify-content-center align-items-center " style="margin-top:150px;">

    <div class="card text-center">

        <div class="card-header p-5 text-center" style="background-color:#663091;">
            <h5 class="mb-2 text-white text-20px">Otp verification</h5>
        </div>
        <div>
             <small>code has been send</small><br>
        </div><br>
          <div class="input-container d-flex flex-row justify-content-center mt-2">
        <input type="text" class="m-1 text-center from-control rounded" maxlength="1">
        <input type="text" class="m-1 text-center from-control rounded" maxlength="1">
        <input type="text" class="m-1 text-center from-control rounded" maxlength="1">
        <input type="text" class="m-1 text-center from-control rounded" maxlength="1">

    </div>
          <div>
        <small>
            didn't get the otp
            <a href="https://www.google.com/" target="_blank" class="text-decoration-none">Resend</a><br>
        </small>
    </div>

        <div class="m-3 mb-5">
            <button class="btn btn-success px-4 verify-btn">Verify</button>
        </div>

    </div>

</div>

</center>
</body>

</html>

