{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/DriverReq.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <!--  slid-bar -->
    <div class="sidebar" id="main">
      <div class="logo_content">
        <div class="logo">
          <i class="bx bxl-android"></i>
          <div class="logo_name">Voila Sailor</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>

      <ul class="nav_list">
        <li>
          <a href="#">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search....." />
          </a>
          <span class="tooltip">Search</span>
        </li>

        <li>
          <a href="{% url 'driverReq' %}">
            <i class="bx bxs-car"></i>
            <span class="links_name">Driver Request</span>
          </a>
          <span class="tooltip">Driver Request</span>
        </li>

        <li>
          <a href="{% url 'showRestaurantReq' %}">
            <i class="bx bx-restaurant"></i>
            <span class="links_name">Restaurant Request</span>
          </a>
          <span class="tooltip">Res Request</span>
        </li>

        <li>
          <a href="#">
            <i class="bx bxs-bell"></i>
            <span class="links_name">Notification</span>
          </a>
          <span class="tooltip">Notification</span>
        </li>

        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>

        <li>
          <a href="#">
            <i class="bx bxs-help-circle"></i>
            <span class="links_name">Help</span>
          </a>
          <span class="tooltip">Help</span>
        </li>
      </ul>

      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <img src="" alt="" />
            <div class="name_job">
              <div class="name">Aniket Suryawanshi</div>
              <div class="job">Android Developer</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </div>
      </div>
    </div>

    <!-- navigation bar -->
    <div class="navigation_bar">
      <nav class="navbar">
        <div class="container-fluid" id="navigation_div">
          <a class="navbar-brand">Driver Request</a>
          <i class="bx bx-menu"></i>
          <a class="nanbar-user">Aniket Suryawanshi</a>
        </div>
      </nav>
    </div>

    <!-- showing rejected documet -->
    <section class="parenttab">
      <div class="row">
        <div class="table_parent_div col-lg-11 col-md-11">
          <div class="table_card">
            <div style="margin-left: 10px">
              {% if messages %} {% for message in messages %} 
              {% if message.tags == "error"%}
              <script>
                swal({
                  icon: "/static/image/document_rejected.jpg",
                  text: "{{ message }}",
                  // text: '{{ token}}',
                  buttons: {
                    cancel: "Cancel",
                    catch: {
                      text: "Done",
                      value: "catch",
                    },
                  },
                }).then((value) => {
                  switch (value) {
                    case "catch":
                      // window.location = "newtry";
                      window.location = "{% url 'driverReq' %}";
                      break;
                    default:
                      window.location = "{% url 'driverReq' %}";
                  }
                });
              </script>

              {% else %}
              <li style="color: green; margin-left: 10px">{{ message }}</li>
              {% endif %} 
              {% endfor %} 
              {% endif %}
            </div>
            <!-- if image is rejected  -->
            {% if finaldata %}
            <div>
              <h3 style="color: green; margin-left: 10px">{{ tag }}</h3>
            <img
              src="{{ finaldata }}"
              alt=""
              style="margin-left: 10px; border: 2px solid #000"
            />
            <a style="margin-left: 10px; margin-top: 10px" href="{% url 'moveDocRejFromInProgress' token %}">
                <p id="rcorners1" class="button" style="margin-left: 15px; margin-top: 10px;">Accept</p>
            </a>
            {% endif %}

            <!-- if address info rejected -->
            {% if address_data %}
            {% for i in address_data %}
            <div class="input-group">
              <label>House Number</label>
              <input type="text" value="{{i.house_number}}" /><br /><br />

              <label>Building Name</label>
              <input type="text" value="{{i.building_name}}" /><br /><br />

              <label>Street Name</label>
              <input type="text" value="{{i.street_name}}" /><br /><br />

              <label>Landmark</label>
              <input type="text" value="{{i.landmark}}" /><br /><br />

              <label>state</label>
              <input type="text" value="{{i.state}}" /><br /><br />

              <label>District</label>
              <input type="text" value="{{i.district}}" /><br /><br />

              <label>Pin Code</label>
              <input type="text" value="{{i.pin_code}}" /><br /><br />
            </div>
            <a style="margin-left: 10px; margin-top: 10px" href="{% url 'moveDocRejFromInProgress' token %}">
              <p id="rcorners1" class="button" style="margin-left: 15px; margin-top: 10px;">Accept</p>
            </a>
            {% endfor %}
            {% endif %}

            <!-- if basic info rejected -->
            {% if basic_data %}
            {% for i in basic_data %}
            <div class="input-group">
              <label>Full Name</label>
              <input type="text" value="{{i.full_name}}" /><br /><br />

              <label>Email</label>
              <input type="text" value="{{i.email}}" /><br /><br />

              <label>Contact Number</label>
              <input type="text" value="{{i.contact_number}}" /><br /><br />

              <label>Date of Birth </label>
              <input type="text" value="{{i.date_of_birth}}" /><br /><br />
              
            </div>
            <a style="margin-left: 10px; margin-top: 10px" href="{% url 'moveDocRejFromInProgress' token %}">
              <p id="rcorners1" class="button" style="margin-left: 15px; margin-top: 10px;">Accept</p>
            </a>
            {% endfor %}
            {% endif %}

            <!-- if vehicle info rejected  -->
            {% if vehicle_info_data %}
            {% for i in vehicle_info_data %}
            <div class="input-group">
              <label>Vehicle RTO Registration Number</label>
              <input type="text" value="{{i.vehicle_RTO_registration_number}}" /><br /><br />

              <label>Vehicle RC Number</label>
              <input type="text" value="{{i.vehicle_rc_number}}" /><br /><br />

              <label>Vehicle Color</label>
              <input type="text" value="{{i.vehicle_colour}}" /><br /><br />

              <label>Vehicle Make Year</label>
              <input type="text" value="{{i.vehicle_make_year}}" /><br /><br />

              <label>Vehicle Type</label>
              <input type="text" value="{{i.vehicle_type}}" /><br /><br />
            </div>
            <a style="margin-left: 10px; margin-top: 10px" href="{% url 'moveDocRejFromInProgress' token %}">
              <p id="rcorners1" class="button" style="margin-left: 15px; margin-top: 10px;">Accept</p>
            </a>
            {% endfor %}
            {% endif %}
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- scripts -->
    <script>
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");
      let searchBtn = document.querySelector(".bx-search");
      let handle_click1 = document.querySelector(".button");

      btn.onclick = function () {
        sidebar.classList.toggle("active");
      };
      searchBtn.onclick = function () {
        sidebar.classList.toggle("active");
      };
    </script>
  </body>
</html>
